@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;

  background: linear-gradient(120deg, #161A1D, #A4161A 80%, #BA181B);
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: left top;
  position: absolute;
}

.navbar {
  background-color: #0B090A;
  color: #F5F3F4;
}

.wrapper {
  padding-top: 50px;
  min-height: 100vh;
  width: 100%;
}

.carousel {
  display: flex;
  align-self: center;
  width: 100%;
  max-height: 100vh;
}

.carousel_block {
  display: flex;
  height: 90vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 15% 0 15%;
  text-decoration: none;
}

.carousel_text {
  z-index: 1;
}

.carousel_title {
  color: #F5F3F4;
  font-size: 48px;
  text-shadow: 0 0 50px #161A1D;
}

.carousel_description {
  color: #D3D3D3;
  font-size: 24px;
  text-shadow: 0 0 50px #161A1D;
}

.carousel_image {
  z-index: 0;
  display: block;
  max-width: 70%;
  filter: drop-shadow(0 0 75px #161A1D);
  transition: all .5s ease-out;
}

.carousel_image:hover {
  transform: scale(1.05);
}

#products {
  display: flex;
  padding-top: 50px;
}

.product_card {
  width: 300px;
  height: 500px;
  margin: 25px;
  display: inline-flex;
  box-sizing: content-box;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 25px 1px #161A1D;
  overflow: hidden;
  background: radial-gradient(circle at 150px 105px, #B1A7A6, #161A1D);
}

.image_block {
  margin: auto;
  margin-top: 0;
  width: 300px;
  height: 210px;
  display: flex;
  align-content: center;
}

.product_image {
  position: top;
  width: 90%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.title {
  display: flex;
  margin: auto 0 5px 20px;
  font: inherit;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.description {
  margin: 0 10px 5px 20px;
  font: inherit;
  color: #D3D3D3;
}

.switch_selector {
  font: inherit;
  margin: 20px 0 5px 20px;
  width: 130px;
  height: 30px;
  border: #161A1D 1px solid;
  border-radius: 5px;
}

.price {
  color: #F5F3F4;
  font-size: 24px;
  margin: 0 0 5px 20px;
}

.count_box {
  margin: 5px 0 20px 20px;
  display: flex;
}

input {
  text-align: center;
  font: inherit;
  font-size: 16px;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
}

.decrease,
.increase,
.purchase {
  border: #161A1D 1px solid;
}

.decrease,
.increase {
  background-color: #F5F3F4;
}

.decrease:disabled,
.increase:disabled {
  background-color: #B1A7A6;
}

.decrease {
  border-radius: 5px 0 0 5px;
}

.increase {
  border-radius: 0 5px 5px 0;
}

.purchase {
  width: 60px;
  border-radius: 5px;
  background-image: url('images/cart.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px auto;
  background-color: #BA181B;
  margin-left: 10px;
}

.count {
  width: 60px;
}